---
import GridLayout from "@/layouts/GridLayout.astro";
import FadeInSection from "../FadeInSection";
---

<GridLayout>
  <FadeInSection client:load>
    <header class="mb-8">
      <h1
        class="font-extrabold text-[clamp(1.5rem,5vw,3rem)] leading-[0.9] max-w-[20ch] font-noto"
      >
        Ideas Engineered, Interfaces Delivered
      </h1>
      <span class="uppercase text-[18px] font-semibold font-doto tracking-wide">
        Faiq Thirafi - Full-Stack Developer (Jr.) @ <span class="blur-sm"
          >komunikasi</span
        >
      </span>
    </header>

    <div class="flex flex-col font-noto text-[16px]">
      <span class="mb-2">
        “If debugging is the process of removing software bugs, <br />
        then programming must be the process of putting them in.”
      </span>
      <span>― Edsger W. Dijkstra</span>
    </div>
  </FadeInSection>
</GridLayout>
