---
import Navbar from "@/components/Navbar";
import ThemeIcon from "../components/ThemeIcon.astro";
const { children } = Astro.props;
---

<div
  class="relative w-full h-full flex items-center justify-center bg-white dark:bg-black font-sans"
>
  <ThemeIcon class="absolute top-3.5 right-4 z-20 cursor-pointer" />

  <div
    class="absolute inset-0 pointer-events-none bg-[length:40px_40px] bg-[linear-gradient(to_right,_#e4e4e7_1px,_transparent_1px),_linear-gradient(to_bottom,_#e4e4e7_1px,_transparent_1px)] dark:bg-[linear-gradient(to_right,_#262626_1px,_transparent_1px),_linear-gradient(to_bottom,_#262626_1px,_transparent_1px)]"
  >
  </div>

  <div
    class="absolute inset-0 pointer-events-none flex items-center justify-center bg-white dark:bg-black [mask-image:radial-gradient(ellipse_at_center,_#00000079_20%,_black)] [-webkit-mask-image:radial-gradient(ellipse_at_center,_#00000079_20%,_black)]"
  >
  </div>

  <main class="h-full flex justify-center z-20">
    <div
      class="w-full px-4 sm:px-6 max-w-screen-md md:max-w-screen-lg xl:max-w-screen-xl"
    >
      <slot />
    </div>
  </main>

  <Navbar client:load />
</div>
